<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.onlineshop_castanheirofreno">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyProductActivity"
            android:label="@string/title_modify_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddNewItemActivity"
            android:label="@string/title_add_new_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".ConfirmationActivity"
            android:label="@string/title_purchase_confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".ItemsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".OrderDetailsActivity"
            android:label="@string/title_order_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".ProductDescriptionActivity"
            android:label="@string/title_product_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
    </application>

</manifest>