<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.onlineshop_castanheirofreno">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.android.onlineshop_castanheirofreno.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.MainActivity"
            android:label="main_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.AddNewItemActivity"
            android:label="add_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.ConfirmationActivity"
            android:label="confirmation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.ItemsListActivity"
            android:label="item_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.OrderDetailsActivity"
            android:label="order_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.android.onlineshop_castanheirofreno.ProductDescriptionActivity"
            android:label="@string/product_description"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



    </application>

</manifest>